.drivers {
    position: relative;
    padding: 1.5rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.drivers.left {
    justify-content: flex-start;
}

.drivers.right {
    justify-content: flex-end;
}

.drivers::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent 0%,
        var(--border-color) 15%,
        var(--border-color) 85%,
        transparent 100%
    );
    z-index: 1;
}

.drivers::after {
    content: attr(data-text);
    position: absolute;
    background-color: var(--bg-color);
    padding: 0 1rem;
    font-size: 0.875rem;
    color: var(--text-muted);
    z-index: 2;
}

/* Позиционирование текста "drivers элемент" */
.drivers.center::after {
    left: 50%;
    transform: translateX(-50%);
}

.drivers.left::after {
    left: 1.5rem;
}

.drivers.right::after {
    right: 1.5rem;
}

.drivers-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    background: var(--bg-secondary-color);
    transition: all 0.3s ease;
}

/* Стили для содержимого внутри .drivers */
.drivers > * {
    position: relative;
    z-index: 3;
    background-color: #17181d;
    padding: 0 0.75rem;
}

/* Стили для группы кнопок */
.group-btn-driver {
    display: flex;
    gap: 1px
}

.btn-driver, .btn-drivers {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--bg-secondary-color);
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s ease;
    position: relative;
}

.btn-driver {
    border-radius: 20px;
    box-shadow: 0 0 0 1px var(--border-color);
}

.group-btn-driver .btn-drivers:first-child {
    border-top-left-radius: var(--btn-border-radius);
    border-bottom-left-radius: var(--btn-border-radius);
}

.group-btn-driver .btn-drivers:last-child {
    border-top-right-radius: var(--btn-border-radius);
    border-bottom-right-radius: var(--btn-border-radius);
}

.btn-driver:hover, .btn-drivers:hover {
    background-color: var(--bg-border-color);
    transform: translateY(-1px);
}

/* Неоновые стили */
.drivers.neon::before {
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(33, 15, 20, 0.1) 20%,
        rgba(59, 130, 246, 1) 50%,
        rgba(33, 15, 20, 0.1) 80%,
        transparent 100%
    );
}

.drivers.neon::after {
    color: var(--bg-primary-color);
    text-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

.drivers.neon .btn-driver {
    color: var(--bg-primary-color);
    text-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
    background-color: #17181d;
    box-shadow: none;
    text-shadow: 0px 0px 40px rgba(59, 130, 246);
}

.drivers.neon-purple::before {
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(33, 15, 20, 0.1) 20%,
        rgba(147, 51, 234, 1) 50%,
        rgba(33, 15, 20, 0.1) 80%,
        transparent 100%
    );
}

.drivers.neon-purple::after {
    color: rgb(147, 51, 234);
    text-shadow: 0 0 10px rgba(147, 51, 234, 0.5);
}

.drivers.neon-purple .btn-driver {
    color: rgb(147, 51, 234);
    text-shadow: 0 0 10px rgba(147, 51, 234, 0.5);
    background-color: #17181d;
    box-shadow: none;
    text-shadow: 0px 0px 40px rgba(147, 51, 234);
}

.drivers.neon-cyan::before {
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(33, 15, 20, 0.1) 20%,
        rgba(34, 211, 238, 1) 50%,
        rgba(33, 15, 20, 0.1) 80%,
        transparent 100%
    );
}

.drivers.neon-cyan::after {
    color: rgb(34, 211, 238);
    text-shadow: 0 0 10px rgba(34, 211, 238, 0.5);
}

.drivers.neon-cyan .btn-driver {
    color: rgb(34, 211, 238);
    text-shadow: 0 0 10px rgba(34, 211, 238, 0.5);
    background-color: #17181d;
    box-shadow: none;
    text-shadow: 0px 0px 40px rgba(34, 211, 238);
}

.drivers.neon-danger::before {
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(33, 15, 20, 0.1) 20%,
        rgba(255, 95, 101, 1) 50%,
        rgba(33, 15, 20, 0.1) 80%,
        transparent 100%
    );
}

.drivers.neon-danger::after {
    color: rgb(255, 95, 101);
    text-shadow: 0 0 10px rgba(255, 95, 101, 0.5);
}

.drivers.neon-danger .btn-driver {
    color: rgb(255, 95, 101);
    text-shadow: 0 0 10px rgba(255, 95, 101, 0.5);
    background-color: #17181d;
    box-shadow: none;
    text-shadow: 0px 0px 40px rgba(255, 95, 101);
}