.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    flex-wrap: wrap;
}

.breadcrumb a {
    text-decoration: none;
    color: #5c5c5c;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #0056b3;
}

.breadcrumb a.active {
    font-weight: bold;
    color: #007bff;
}

/* Добавляем разделители */
.breadcrumb a:not(:last-child)::after {
    content: attr(data-separator);
    margin: 0 8px;
    color: #888;
}


/* Поддержка старых классов */
.breadcrumb.arrow a:not(:last-child)::after {
    content: ">";
}

.breadcrumb.slash a:not(:last-child)::after {
    content: "/";
}

/* Если указан класс */
.breadcrumb.arrow {
    --separator: ">";
}

.breadcrumb.slash {
    --separator: "/";
}

/* Убираем разделитель, если всего один элемент */
.breadcrumb:has(a:only-child) a::after {
    content: "";
}

.breadcrumb-separator{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 15px;
}



.breadcrumb-bg {
    border-radius: 12px;
    border: 1px solid #ddd;
    height: 50px;
}
.breadcrumb-bg a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    height: 100%;
    position: relative; /* Нужно для псевдоэлементов */
    background-color: transparent;
    transition: background 0.3s ease;
}

/* .breadcrumb-bg a:hover {
    background: #e9ecef;
}

.breadcrumb-bg a:hover + .arrow-box{
    background: #e9ecef;
} */

.breadcrumb-bg a.active {
    color: white;
}

.arrow-box {
    width: 50px;
    height: 100%;
    background: #ccc;
    clip-path: polygon(70% 0%, 75% 0%, 100% 50%, 75% 100%, 70% 100%, 96% 50%);
}


/* Убираем границу между блоками, делая эффект слитности */
.breadcrumb-bg a:not(:first-child) {
    border-left: none;
}