#frame {
    position: relative;
    min-width: 340px;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--bg-border-color);
    border-radius: 10px;
}

.frame-resizer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    width: 10px;
    height: 50%;
    cursor: ew-resize;
    background: transparent;
}

.frame-resizer::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    border-radius: 4px;
    height: 100%;
    background-color: var(--border-color, #ddd);
    transition: background-color 0.2s;
}

.frame-resizer:active::after {
    background-color: var(--primary-color, #007bff);
}

#frame .code-block{
    position: relative;
    height: 100%;
}

#frame .main-block{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 100px;
    height: 100%;
    gap: 20px;
}

#frame .main-block.vertical{
    flex-direction: column;
}

#frame .main-block.center{
    justify-content: center;
}

#frame .main-block.start{
    justify-content: start;
}

#frame .main-block.end{
    justify-content: end;
}

#frame .code-block{
    border-top: 1px solid #c7c1c115;
}

.width-indicator {
    position: absolute;
    left: 15px;
    top: -10px;
    background-color: var(--bg-color);
    padding: 2px 8px;
    border-radius: 4px;
    opacity: 0;
    font-size: 12px;
    color: #7a7a7a;
    white-space: nowrap;
    transition: opacity 0.2s;
    border: 1px solid #c7c1c115;
}

.width-indicator.active {
    opacity: 1; /* Показываем при добавлении класса */
}